.form__header {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .form__header {
    align-items: center;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .image {
    display: none;
  }
}

.link__style {
  color: #ff8682ff;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.5rem;
  font-weight: 500;
}

.bgimage {
  background-image: url("https://i.ibb.co/DYz8sD7/Group-6.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1.6rem;
  height: 100%;
  border-radius: 24px;
  /* position: relative; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5rem;
  height: 90vh;
  width: 96%;
  border: 1px solid black;
}